<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IS_Project.Properties.Settings.Recruitment_SystemConnectionString"
            connectionString="Data Source=DESKTOP-5E0TPLF\SQLEXPRESS;Initial Catalog=&quot;Recruitment System&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>